.logoBar {
  padding: 20px;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: var(--radius-small);
  background-color: var(--color-primary);
}

.ctaContainer,
.loginPageContainer,
.loginForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.loginInputContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signupPrompt{
  align-self: center;
}