.modal{
  max-width: 500px;
  background-color: var(--color-surface);
  border-radius: var(--radius-medium);
  padding: 20px;
  justify-self: center;
}

.modal,
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.modalTop{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.disabled{
  display: none;
}

.enabled{
  display: block;
  font-size: var(--font-size-caption);
  color: var(--color-text-secondary);
}
